<div class="text-center">
	<h2>Your aman bill reference is</h2>
	<h1 class="text-success">{{aman_id}}</h1>
	<h3 class="text-info">Please go to the nearest Aman oulet, ask for "Madfouaat Motanouea Accept" and provide your bill reference.</h3>
</div>